<h1>カート内商品一覧(Public::CartItems#index)ページ</h1>


<table>

  <thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>

        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td>
        <td><%= cart_item.item.with_tax_price %></td>  <!--itemモデルにメゾッドを書いているため記載の省略ができる-->
        <td><%= cart_item.item.subtotal %></td>  <!--cart_itemモデルにメゾッドを書いているため記載の省略ができる-->
        <% @total += cart_item.item.subtota %>  <!--cart_itemモデルにメゾッドを書いているため記載の省略ができる-->

      </tr>
    <% end %>
  </tbody>

</table>
